# torch==1.10.0+cu113
# torchvision==0.11.1+cu113
# torchaudio===0.10.0+cu113
matplotlib==3.2.2
# numpy==1.21.1
pandas==1.3.1
albumentations==1.1.0
wandb==0.12.6
pylint==2.12.2
black==21.12b0
torchinfo
tqdm
jupyter-book
matplotlib
numpy
ghp-import
cookiecutter==2.1.1
jupyter-book==0.13.1
sphinx-inline-tabs==2021.3.28b7
sphinx-proof==0.1.3
sphinx-togglebutton
# myst-nb==0.16.0 # incompatible for curr jupyter-book but overwrite for new features so install manually
